* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    background: #d68d06;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin-bottom: 0.5rem;
    font-family: "Montserrat", sans-serif;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 0.5rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

#regles {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#regles h2 {
    text-align: center;
    color: #2c3e50;
    font-size: 2em;
    margin-bottom: 20px;
}
#regles article {
    background: white;
    padding: 15px;
    margin: 15px 0;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
#regles h3 {
    color: #2980b9;
    border-bottom: 2px solid #2980b9;
    padding-bottom: 5px;
}
#regles ul {
    padding-left: 20px;
}
#regles ul li {
    margin: 5px 0;
}
#regles p {
    line-height: 1.6;
}




h2 {
    margin-bottom: 1rem;
}

figure {
    text-align: center;
}

figure img {
    display: inline-block;
    width: 140px;
    height: 170px;
}

ul {
    list-style: disc inside;
}

footer {
    background: #fff;
    color: #d68d06;
    text-align: center;
    padding: 1rem 0;
}

footer a {
    color: #d68d06;
    text-decoration: none;
}

.social-links {
    margin: 1rem 0;
}

.social-links a {
    display: inline-block;
    margin: 0 0.5rem;
}

.social-links img {
    width: 140px;
    height: 110px;
}
